<div class="container">
<%= form_for @article do |form|%>
<%= form.text_field :title, class: 'article-title', placeholder: '標題' %>
<%= form.text_field :title, class: 'article-content', placeholder: '內容' %>
<% end %>
</div>