<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoList</title>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="./style.css">
  <script src="./loading.js"></script>
</head>
<body>
  <nav id="nav-top">
    <a href="javascript:void(0)" class="techpod notosans">TECHPOD</a>
    <div class="wrap-user-stats">
    <a href="javascript:void(0)" class="user-stat text-dk notosans new-article pen">&#x270e;</a>
    <a href="javascript:void(0)" class="user-stat text-dk notosans signin">Sign In</a>
    <a href="javascript:void(0)" class="user-stat text-dk notosans signup">Sign Up</a>
    </div>
  </nav>
  <div class="nav-side-toggle idle" id="nav-side-toggle" onclick="toggleSideNav()">&#x2630;</div>

  <nav id="nav-side" class="no-dark">
    <div id="nav-side-menu-container">
     <div class="nav-side-block">
       <h2 class="nav-side-block-title notosans text-a9"><a href="javascript:void(0)" class="notosans text-d3">News</a></h2>
       <h2 class="nav-side-block-title notosans text-a9">Articles</h2>
       <hr class="nav-side-block-hr">
       <div class="nav-side-block-content-container">
         <h3 class="nav-side-block-content"><a href="javascript:void(0)" class="notosans text-d3">All</a></h3>
         <h3 class="nav-side-block-content"><a href="javascript:void(0)" class="notosans text-d3">Ruby/Rails</a></h3>
         <h3 class="nav-side-block-content"><a href="javascript:void(0)" class="notosans text-d3">Javascript"</a></h3>
         <h3 class="nav-side-block-content"><a href="javascript:void(0)" class="notosans text-d3">Web Service</a></h3>
         <h3 class="nav-side-block-content"><a href="javascript:void(0)" class="notosans text-d3">Web Design/HTML</a></h3>
         <!--<h3 class="nav-side-block-content"><%= link_to "✎  ShortNotes", "javascript:void(0)", class: "notosans text-d3"%></h3>-->
       </div>
     </div>

    <div class="nav-side-block">
      <h2 class="nav-side-block-title notosans text-a9">Tools</h2>
      <hr class="nav-side-block-hr">
      <div class="nav-side-block-content-container">
        <h3 class="nav-side-block-content"><a href="javascript:void(0)" class="notosans text-d3">ColorPicker</a></h3>
        <h3 class="nav-side-block-content"><a href="javascript:void(0)" class="notosans text-d3">WordBook</a></h3>
        <!-- <h3 class="nav-side-block-content"><%= link_to "ToDoList", to_do_list_path, class: "notosans text-d3"%></h3> -->
        <!-- <h3 class="nav-side-block-content"><%= link_to "MyPurchases".html_safe, "javascript:void(0)", class: "notosans text-d3"%></h3> %>-->
      </div>
     </div>
    </div>

    <div class="nav-side-block">
      <h2 class="nav-side-block-title notosans text-a9">About</h2>
      <hr class="nav-side-block-hr">
      <div class="nav-side-block-content-container">
        <h3 class="nav-side-block-content"><a href="javascript:void(0)" class="notosans text-d3">Author</a></h3>
      </div>
     </div>
    </div>
  </nav>
  <script>
    function setUpLists(){
      var container = document.getElementById('container');
      let i = 0;
      let lists = [
        {id: 1, name: 'Lorem', bgColor: "rgb(255, 241, 164)"},
        {id: 2, name: "Ipsum", bgColor: "#daf7a6"},
        {id: 3, name: "Dolor", bgColor: "#F0B27A"},
        {id: 4, name: "Sit", bgColor: "#AED6F1"},
        {id: 5, name: "Amet", bgColor: "#F5B7B1"},
      ];
      let indexSeq = lists.length;

      lists.forEach(list=>{
        let newlist = document.createElement('div');
        newlist.id = `list-${list.id}`;
        newlist.classList.add('list');
        newlist.style.backgroundColor = list.bgColor;
        newlist.style.zIndex = indexSeq;
        indexSeq--;
        i++;

        let h3 = document.createElement('h3')
        h3.classList.add('list-name', 'notosans');
        h3.innerText = list.name;

        let dummyList = document.createElement('ul');
        dummyList.classList.add('dummy-list');
        dummyList.innerHTML = `
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
        `;
        newlist.appendChild(h3);
        newlist.appendChild(dummyList);
        container.appendChild(newlist);
      })
    }
    var dragging, draggedOver;
    var listBody = null;
    var list = null;
    var customNums = [0, 1, 2, 3, 4, 5, 6];
    var tasks = ["Lorem ipsum",
              "Dolorum",
              "Ut voluptates",
              "Adipisci",
              "Dolore",
              "Id omnis",
              "Accusantium",
              "Quam laborum",
              "Iste molestias",
              "Corporis"
            ]
    document.addEventListener('DOMContentLoaded',()=>{
      setUpLists();
      $(".list").on('click', function(){
        let selectedList = $(this);
        list = selectedList; //use loading.js
        let dummyList = $(selectedList).find(".dummy-list");

        //turn off transform via add show class
        selectedList.addClass('show');
        //fade out others
        $(".list:not(.show)").addClass("fade-out");

        // wait for fading out;
        let fadeOutTime = 500;
        let waitTime = fadeOutTime;
        setTimeout(function(){
          $(".list:not(.show)").remove();
        }, fadeOutTime);

        // create list-body, loading-body, append loading-body into list-body
        listBody = document.createElement('div');
        listBody.id = 'list-body';

        loadingBody = document.createElement('div');
        loadingBody.id = "loading-body";

        listBody.append(loadingBody);

        // fade out the dummy list
        waitTime+=fadeOutTime;
        setTimeout(function(){
          dummyList.addClass('fade-out');
        }, waitTime)

        // after dummylist fade out, make list's justify content to center by adding "loading" class
        waitTime+=fadeOutTime;
        setTimeout(function(){
          dummyList.remove();
          selectedList.addClass("loading");

          // append listBody, will show its loading-body spinning
          selectedList.append(listBody);
        }, waitTime);

        let fakeLoadDataTime = 600;
        waitTime+=fakeLoadDataTime;
        setTimeout(function(){
          selectedList.addClass("loading");
          listBody.classList.add("fade-out");

          setTimeout(function(){
            loadingBody.remove();
            renderItems(customNums);
            listBody.classList.remove("fade-out");
            listBody.classList.add("fade-in");
          }, 1500);

          setTimeout(function(){
            selectedList.removeClass("loading");
          }, 1500);
        }, waitTime);
      })
    })
  </script>
  <main id="main">
    <div id="container" class="list-index">
      <!-- <div id="list-1" class="list">
        <h3 class="list-name">Lorem List</h3>
        <ul class="dummy-list">
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
        </ul>
      </div>
      <div id="list-2" class="list" style="background-color: #daf7a6;">
        <h3 class="list-name">Ipsum List</h3>
        <ul class="dummy-list">
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
          <li><span class="dummy-item-drag">&#x2630;</span><input type="checkbox" name="" id=""><span class="dummy-item-name"></span></li>
        </ul>
      </div> -->
    </div>
  </main>
</body>
</html>