@font-face {
  font-family: 'Noto Sans';
  src: url("../../app/assets/fonts/NotoSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Noto Sans Light';
  src: url("../../app/assets/fonts/notosans.ttf") format("truetype"); }
@font-face {
  font-family: 'Noto Sans Bold';
  src: url("../../app/assets/fonts/notosans.ttf") format("truetype"); }
@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url("../../app/assets/fonts/NotoSansCJKtc-Regular.otf") format("opentype"); }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

nav#nav-top {
  position: relative;
  width: 100%;
  height: 90px;
  border-bottom: solid 1px #585858;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px; }

.nav-side-toggle {
  position: absolute;
  left: 30px;
  font-size: 55px;
  cursor: pointer;
  z-index: 999;
  user-select: none; }

.nav-side-toggle.idle {
  color: #7d7d7d;
  transition: width 0.5s ease-out; }
  .nav-side-toggle.idle:hover {
    color: #585858;
    transition: width 0.5s ease-out; }

.nav-side-toggle.active {
  color: white;
  transition: width 0.5s ease-out; }
  .nav-side-toggle.active:hover {
    color: gainsboro;
    transition: width 0.5s ease-out; }

nav#nav-side {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: #2D3047;
  z-index: 2;
  transition: width 0.5s ease-out;
  overflow: hidden; }
  nav#nav-side.active {
    transition: width 0.5s ease-out;
    width: 260px; }

#nav-side-menu-container {
  position: relative;
  height: inherit;
  margin: 90px 0 0 0; }

.nav-side-block {
  width: 180px;
  margin-left: 30px; }
  .nav-side-block:not(:first-child) {
    margin-top: 30px; }

.nav-side-block h2, .nav-side-block h3 {
  margin: 7px 0 7px 0; }

.techpod {
  font-size: 35px;
  color: #666666;
  font-weight: bolder; }

a, a:hover, a:visited, a:active {
  text-decoration: none; }

.wrap-user-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.user-stat {
  font-size: 18px; }
  .user-stat.signin {
    margin-right: 15px; }
  .user-stat.username {
    margin-right: 15px; }

.notosans {
  font-family: 'Noto Sans'; }

.notosans {
  font-family: 'Noto Sans Light'; }

.notosans {
  font-family: 'Noto Sans Bold'; }

.notosans-ct {
  font-family: 'Noto Sans CJK TC'; }

.text-t3 {
  color: #5B5858; }

.text-t4 {
  color: #7e7e7e; }

.text-t6 {
  color: #d3d3d3; }

main {
  position: relative;
  min-height: 625px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#container {
  min-width: 600px;
  max-width: 800px;
  min-height: 600px; }

.welcome-txt {
  font-size: 20px;
  margin-top: 30px; }

.block-title {
  margin: 0 0 3px 0;
  font-size: 30px;
  font-weight: normal; }

.block-hr {
  margin-block-start: 0;
  margin-block-end: 0; }

.section-content-container {
  margin-top: 30px; }
  .section-content-container a {
    color: #515151; }

section.news {
  margin-top: 60px; }

.article-container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: repeat(2, 36px);
  align-content: center; }
  .article-container:not(:first-child) {
    margin-top: 32px; }

.article-link {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  .article-link h3.article-title {
    font-size: 26px;
    margin: 0; }
  .article-link .article-description {
    font-size: 18px; }

.article-author {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.article-created-at {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; }

/*# sourceMappingURL=style.css.map */
