#title{
    margin: 30px;
}
#title a:active, #title a:visited, #title a:hover{
    text-decoration: none;
    color: #222222;
}
#wrapper-title{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

#current-username{
  margin:0px 30px 0px 0px;
}

@media only screen and (max-width:700){
    #wrapper-title{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
    }
}