<div id="container-top">
      <div class="txt" id="titles">
          <span id="title"><%= link_to "Harrysworkspace",root_path %></span>
          <span id="subtitle"><%= title %></span>
      </div>
    <%if title!="Welcome"%>
      <div id="user-status">
       <span id="current-username">
          <% if current_user %>
            <%= current_user.email %>
          <% else %>
            <script>
            window.location = "users/sign_in"
            </script>
          <% end %>
       </span>

         <span><%= link_to "Logout",destroy_user_session_path,method:"delete",data:{confirm:"çœŸderè¦ç™»å‡ºå—Žï¼ŸðŸ˜­"},class:"btn-logout" %></span>
      </div>

    <% end %>

</div>

