<div id="wrapper-title">
  <h1 class="txt" id="title">
      <%= link_to "#{title}",root_path,class:"rootlink" %>
  </h1>
  <span id="current-username"><%= current_user.email %></span>
</div>
<div class="wrapper_out">

