<div id="container-header">
  <%= link_to("Harry & Hazel", root_path, id: 'site-name') %>

  <%if "#{request['controller']}##{request['action']}"!="users/sessions#new"%>
  <div id="wrap-user-status">
    <span id="current-username">
       <% if current_user %>
         <%= current_user.email.split('@')[0] %>
       <% else %>
         <script>window.location = "/users/sign_in"</script>
       <% end %>
    </span>
    <%= link_to "Logout", destroy_user_session_path, method:"delete", data:{confirm:"çœŸderè¦ç™»å‡ºå—Žï¼ŸðŸ˜­"} %>
  </div>

  <% end %>

</div>