<%= stylesheet_link_tag "among_us" %>
<%= javascript_include_tag "among_us" %>

<div class="space-wrapper">
  <div class="player-ruby-wrap">
    <%= image_tag("ruby-big.svg", id: "player-ruby") %>
  </div>
  <div id="narration" class="paragraph text-t2"></div>
</div>