<div id="terms-container" class="container font text-t3">
  <div id="terms-content">
		<h1 class="title">RubyOnStimulants 隱私權政策</h1>
		<div class="section">
			<p>最後更新日期：2020/05/03</p>
			<p>RubyOnStimulants 服務（以下簡稱「RubyOnStimulants」、「本服務」和「本不是公司」）非常重視 RubyOnStimulants 的會員（以下簡稱「會員」、「您」或「您的」）的線上個人隱私。為了讓您瞭解我們將如何蒐集、應用及保護您所提供的個人資訊，請詳閱下列隱私權保護聲明。</p>
		</div>
		<h3>個人資料之取得：</h3>
		<ul>
			<li>Facebook/google登入僅最低限度登入</li>
			<li>絕對不會都拿你的資料去玩。</li>
		</ul>

		<h3>個人資料之運用：</h3>
		<p>您註冊會員時所輸入之資料，僅供本服務提供第三方登入使用
			<ol>
				<li>既然您已同意登入，就代表你同意讓我最低限度存取你的資料</li>
				<li>經您書面同意利用於其他目的。</li>
			</ol>
		</p>

		<h3>如何保護您的個人資料: </h3>
		<ul>
		  <li>我們使用256 SSL保護機制</li>
		  <li>不想逛了記得登出</li>
    </ul>

		<h3>其他資料之蒐集和運用:</h3>
		<ul>
			<li>本服務將依據使用者註冊、促銷活動或相關問卷調查所提供的資料，就放在那邊，也沒什麼資料可以玩。 凡未經您主動註冊所產生的資料，如使用者機器的 IP 位址、使用時間、使用的瀏覽器、瀏覽及點選紀錄等資料，本服務將針對必要提供之服務。不管皆不外漏給第三方非 Harry's Workspace 服務平台。</li>
			<li>您有權終止 Harry's Workspace 對您進行任何的資料蒐集，並得以要求 Harry's Workspace 刪除相關個人資料，唯其提供的服務將會受到相對限制，甚至是無法繼續提供您服務。</li>
		</ul>

		<h3>關於 Cookie/Cache 之運用：</h3>
        <p>沒在用，謝謝</p>

        <h3>其他：</h3>
		<p>對於您在本服務所登錄的個人資料及使用記錄，我們將採取適當步驟，盡最大努力確保資料儲存於本服務系統中的安全性。</p>
		<p>提醒您本服務不負責擔保網際網路資料傳輸之安全性，請您在使用前自行評估並判斷資料傳輸過程之中斷、流失、錯誤、被竊取、干擾等風險。</p>

		<h3>隱私權保護聲明的執行：</h3>
		<p>如果您對我們的隱私權保護聲明有任何問題，請與harry連絡。</p>
		<p>隱私權保護聲明的更新：本服務保留隨時修改本隱私權保護聲明的權利。修改後的條款將公佈於本服務網站上之相關網頁，並自公佈之日起生效，不另行通知。</p>
  </div>
</div>