<!-- This will ask for js response-->
<%= link_to "Back To List", to_do_lists_path, remote: true, id: "back-to-todolist", class: "btn notosans-light text-e7 back-to-todolist" %>

<div class="" id="list-container">
  <%= render "list" %>
</div>
