<div id="list-page-wrap">
  <div id="list-container">
    <%= render "list" %>
  </div>
  <!-- This will ask for js response-->
  <%= link_to "⬅", to_do_lists_path, remote: true, id: "back-to-todolist", class: "btn notosans text-e7 back-to-todolist" %>
</div>