<%= javascript_include_tag "to_do_lists" %>
<%= stylesheet_link_tag "to_do_lists" %>
<div class="list-container">
  <div id="list" class="list">
    <h3 class="list-name notosans"><%= @list.name %></h3>
    <div id="list-body">
      <!-- <div class="list-row">
        <span class="item-drag">&#x2630;</span>
        <input class="item-check" type="checkbox" name="state" id="item-1">
        <span class="item-num">3</span>
        <span class="item-name notosans">Do The Laundry</span>
        <span class="item-show-toggle"></span>
      </div> -->
    </div>
  </div>
</div>