.wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#edit{
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 600px;
  width: 300px;
  margin-right: 50px;
}
p#output{
  display: inline-block;
  height: 600px;
  width: 300px;
  border: solid 1px grey;
}

.fuck{
  color: #f70000;
}