@import './common.scss';
.articles-wrapper{
  @include flex(column, center, flex-start);
  row-gap: 30px;
  opacity: 0;
  animation: fade-in $fade-time forwards;
  h1{
    margin-bottom: 0;
  }
  hr{
    width: 510px;
  }
  width: fit-content;
}

article{
  position: relative;
  // width: 600px;
  width: 500px;
  min-height: 125px;
  @include flex(row, flex-start, center);
  background-color: white;
  &:hover{
    box-shadow: 0px 3px 10px #cecece61;
  }
  &:not(:first-child){
    margin-top: 30px;
  }
  span{
    padding: 1px 5px 1px 5px;
    font-size: 14px;
    margin-left: 5px;
  }
  span.draft{
    background-color: #FFC300;
    border: solid 1px #a9a9a9;
  }
  span.private{
    background-color: #a40707;
    border: solid 1px #3e0000;
    color: #eee;
  }
}
article .img-wrap{
  position: relative;
  width: 150px;
  height: 100%;
  overflow: hidden;
  border: solid 3px #ddd;
  img{
    position: relative;
    display: block;
    height: 100%;
    min-width: 100%;
  }
}
article .info-wrap{
  display: grid;
  // width: 65%;// 有圖再用
  width: 90%;
  grid-template-columns: 65% auto;
  grid-template-rows: 65% auto;
  margin: auto auto;
  align-items: flex-end;
  row-gap: 3px;

  h3{
    font-size: 20px;
    margin:0 ;
    align-self: center;
  }
  h4{
    font-size: 18px;
    grid-column: 2/3;
    align-self: center;
    justify-self: end;
    color: #616161;
    font-family: Helvetica;
    margin: 0;
  }
  a {
    color: #4e4e4e;
    font-family: Helvetica;
    font-weight: lighter;
    grid-column: 1/2;
    &:not(:first-child)::before{
      content: ",\00a0";
      display: inline-block;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  .tags-wrap{
    @include flex(row, flex-start, center);
    align-self: center;
    .tag{
      color: #606060;
      background-color:#DDDDDD;
      padding: 1px 7px 1px 7px;
      border-radius: 4px;
      font-family: Tahoma;
    }
  }
  .timestamp{
    align-self: center;
    font-family: Arial;
    justify-self: end;
    color: #a7a6a7;
  }
}
#load-more{
  text-align: center;
  width: 500px;
  cursor: pointer;
}
@media all and (max-width: 800px){
  // 有圖時再用
  // article{
  //   max-width: 70vw;
  // }
}

@media all and (max-width: 650px){
  article .img-wrap{
    display: none;
  }
  article .info-wrap{
    width: 80%;
    a {
      font-size: 14px;
    }
  }
  article{
    width: 480px;
  }
}