@import './resources';
.wrap-article{
  margin: 90px 0 90px 0 ;
}
.wrap-title{
  display: grid;
  align-content: center;
  max-width: 670px;
  &.readonly{
    grid-template-columns: 85% 20%;
  }
  &.can-edit{
    grid-template-columns: 85% 20%;

  }
}
.article-page-author{
  @include flex(row,flex-end,center);
}
.article-page-created-at{
  @include flex(row,flex-end,center);
  grid-column: 2/3;
}
.article-page-title{
  font-size: 30px;
}
.article-page-content{
  margin-top: 60px;
  font-size: 20px;
  max-width: 600px;
}
.article-page-edit{
  @include flex(row,flex-end,center);
  font-size: 28px;
}