@import './resources.scss';
#form-backup{
  @include flex(column, center, center);
}

input.article-page-backup-id{
  width: 200px;
  font-size: 25px;
}
.use-range-text{
  font-weight: normal;
}
input[type="checkbox"]{
  transform: scale(2);
  margin-left: 30px;
}