@import './common.scss';
@import './markdown.scss';

.content-article-show{
  display: grid;
  grid-template-columns: 20vw 50vw 20vw;
}
.side-info{
  // grid-column: 1/2;
  opacity: 0;
  max-width: 10vw;
  position: fixed;
  @include flex(column, flex-start, flex-start);
  h3{
    margin-left: 0;
    color: #525050;
  }
  hr{
    width: 100%;
  }
  p{
    margin-top: 5px;
    color: #7e7e7e;
  }
  span, a{
    color: #aeaeae;
  }
  a:hover{
    color: #9c9c9c;
  }
  transition: opacity .2s ease-in;
  &:hover{
    opacity: 1;
    transition: opacity .2s ease-in;
  }
}
.side-info.show{
  transition: opacity .2s ease-in;
  opacity: 1;
}
.bottom-info{
  display: none;
  margin-top: 90px;
  max-width: 90vw;
  h1{
    margin-right: 0;
    color: #3e3e3e;
  }
  hr{
    width: 100%;
  }
  p{
    margin-top: 5px;
    color: #7e7e7e;
  }
  span{
    display: block;
    margin-top: 10px;
  }
  span, a{
    font-size: 20px;
    color: #aeaeae;
  }
  a:hover{
    color: #9c9c9c;
  }
}

@media all and (max-width: 1024px){
  .content-article-show{
    @include flex(column, flex-start, center);
  }
  .side-info {
    display: none;
  }
  .bottom-info{
    display: block;
  }
  .markdown{
    grid-column: 1/2;
    max-width: 90vw;
  }
}