@import "./resources.scss";
.container.error{
  @include flex(column, center, center);
  position: absolute;
}
.error-title{
  font-size: 60px;
}
.error-subtitle{
  max-width: 200px;
  font-size: 17px;
  word-break: break-all;
}

@media only screen and (max-width: 420px){
  .container.error{
    width: 100%;
  }
}