@import "./resources.scss";
.container.error{
  @include flex(column, center, center);
  position: absolute;
}
.error-title{
  font-size: 45px;
}
.error-subtitle{
  max-width: 300px;
  font-size: 17px;
  word-break: break-all;
}
.link-go-home{
  font-size: 24px;
  margin-top: 30px;
}
@media only screen and (max-width: 420px){
  .container.error{
    width: 100%;
  }
}