.section-h2{
  margin: 0 0 3px 0;
  font-size: 30px;
  font-weight: normal;
}
.section-hr{
  margin-block-start: 0;
  margin-block-end: 0;
}
.section-content-container{
  margin-top: 25px;
  // margin-bottom: 50px;
  overflow: scroll;
  height: 600px;
  overflow: scroll;
}
//custom section style for each page
section.news{
  margin-top: 60px;
}
section.articles{
  margin-top: 40px;
}