$background-color: white;
$link-color: #3a3838;
$header-background-color: none;
$header-height: 80px;
$mobile-site-name-color: $link-color;
$mobile-header-height: 60px;
// @font-face{
//   font-family:'NotoSansCJKtc-Thin';
//   src: font-url('/NotoSansCJKtc-Thin.otf') format('truetype');
// }

@keyframes shine{
  to{
    -webkit-filter: drop-shadow(0px 0px var(--shadow ,25px) rgba(255, 255, 210,0.7));
    filter: drop-shadow(0px 0px var(--shadow ,25px) rgba(255, 255, 210,0.7));
  }
}
@keyframes shine-rotate{
  to{
    transform: rotate(var(--d,270deg));
    -webkit-filter: drop-shadow(0px 0px var(--shadow ,25px) rgba(255, 255, 210,0.7));
    filter: drop-shadow(0px 0px var(--shadow, 25px) rgba(255, 255, 210,0.7));
  }
}

@mixin flex($fd:row, $jc:flex-start,$ai:flex-start){
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
@mixin size($w, $h){
  width: $w;
  height: $h;
}
//general
html{
  height: 100%;
  width: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-size: 400%;
  // background-color: #2c7873;
  // background-color: #7fa998;
  background-color: $background-color;
}
a, a:hover, a:visited, a:active{
  text-decoration: none;
}
// *{
//   font-family: 'NotoSansCJKtc-Thin';
// }
input{
  border-color: #111;
}
input:focus, textarea:focus {
  outline: none;
}

//alerts (currently login page only)
.alert:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align: middle;
}
@keyframes alert-forwards{
   0%{
    top:-130px;
   }
   100%{
    top:-50px;
   }
}
@keyframes alert-backwards{
  0%{
   top:-50px;
  }
  100%{
   top:-130px;
  }
}
.wrap-alert{
  @include flex(column, center, center);
  width: 100%;
}
.alert-txt{
  background-color:transparent;
  margin-bottom: 15px;
}
.alert{
  @include flex(column,center,flex-end);
  padding: 0 15px 0 15px;
  position: fixed;
  height: 90px;
  font-weight: bold;
  z-index: 999;
  color: #fff;
  text-shadow: -1px 0 #222222, 0 1px #222222, 1px 0 #222222, 0 -1px #222222;
  animation: alert-forwards .8s ease normal forwards;
}
.alert.alert-success{
  background-color: rgba(2, 168, 77, 0.7);
}
.alert.alert-danger{
  background-color:rgba(199, 13, 58, 0.7)
}

// general btns, forms
.link-btn{
  &::before{
    display: inline-block;
    content: '';
    height: 0;
    vertical-align: middle;
    width: 0;
    border-style: solid none solid solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent rgb(211, 211, 211);
    margin: 0 10px 3px 5px;
  }
  &:hover{
    transition: background-color .2s ease;
    background-color: #a0855b;
  }
  transition: background-color .2s ease;
  width: 160px;
  color: rgb(211, 211, 211);
  text-decoration: none;
  font-size: 20px;
  background-color: #a0855b;
  padding: 5px;
  border-radius: 5px;
}
.form-new{
  display: flex;
  flex-direction: column;
  .input {
    background-color: #222222;
    color: #fff;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    padding: 7px 7px 7px 10px;
    font-size: 18px;
    width: 180px;
    margin: 5px;
    &.submit{
      background-color: #55946A;
      transition: .1s ease;
      width: 200px;
      &:hover{
        background-color: rgb(109, 138, 119);
        color: #fff6f6;
        box-shadow: 1px 1px 5px grey;
      }
    }
  }
  .custom-select{
    width: 200px;
  }
  .select {
    // display: none;
    height: 40px;
    width: 200px;
  }
}
.tableold{
  // border-collapse: collapse; 如果要圓角的話會，必須設為separate，不然collapse會跟樓下的合在一起，變成圓角外面又一個方匡
  z-index: 2;
  border-collapse: separate;
  border-spacing: 0;
  overflow: scroll;
  // background-color: rgba(54,54,54,.7);

  td{
    word-break: break-all;
    color: rgba(255, 255, 255, 0.925);
  }
  &.table-info{
    border:1px solid white;
    .missing{
      background-color:rgba(200,0,0,1);
    }
    td:first-child:not(.missing){
      background-color: rgb(65, 30, 9);
    }
    td:nth-child(2):not(.missing){
      background-color: rgb(48, 36, 30);
    }
  }
  &.table-excel{
    display: block;
    width: 80%;
    height: 30%;
    margin: 0 40px 0 40px;
    border: 5px double #9c9c9c;
    thead tr{
      background-color:  rgb(19, 90, 40);
    }
    tr:nth-child(5n){
      background-color:  rgb(28, 65, 39);
    }
    td{
      min-width: 50px;
    }
    &.show-excel{
      td:first-child{
        min-width: 200px;
        background-color:  rgb(14, 51, 25);
      }
    }
    &.processed-excel{
      td:nth-child(2){
        background-color:  rgb(14, 51, 25);
        min-width: 200px;
      }
      td:not(:nth-child(2)){
        text-align: center;
        font-size: 10px;
      }
    }

  }

  &.table-file{
    color: #fff;

    .file-icon {
      text-align: center;
      width: 100px;
    }
    .file-name {
      width: 400px;
      a, a:hover, a:visited, a:active{
        text-align: left;
        color: #fff;
      }
    }
    .file-delete {
      width: 65px;
      &:hover{
        background-color:#df4141;
      }
      &:active{
        background-color:#960000;
        color:#fff;
      }
      .delete-icon{
        text-align: center;
        color: #fff;
        color:#cc2222;
      }
      a{
        text-decoration: none;
      }
    }
    .path-icon{
      height: 30px;
      width:  30px;
    }
  }

  &.table-todolist{
    border:1px solid #eee;
    color:#fff;
    border-collapse:collapse;
    margin: 0 20px 0 20px;
    width: 90%;
    th{
      background-color: rgba(30,30,30,.7);
    }
    th, td{
      padding: 10px 20px 10px 20px;
    }
  }
}
//components

%container{
  display: flex;
  justify-content: flex-start;
  margin: 20px 20px 50px 20px;
  width: 100%;
}
.container{
  margin-bottom: 200px;
}
#container-home{
  @include flex(row, center, center);
  height: 80%;
}
#container-cl{
  @extend %container;
  flex-direction: column;
}
#container-rw{
  @extend %container;
  flex-direction: row;
}
.round{
  border-radius: 50%;
}
.btn-grad {
  background-size: 300% auto; //imp
  background-image: linear-gradient(90deg, rgb(41, 52, 98 ) 0%, rgb(77, 91, 146) 50%, rgb(41, 52, 98 ) 100%);
  background-position: left center;
  box-shadow: 3px 3px 10px #333333;

  text-decoration: none;
  margin: 0 15px 0 15px;
  padding: 15px;
  text-align:center;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  &:hover{
    background-position: right center;
    transform: translate3d(-3px,-3px,0);
  }
  &:active{
    transform: translate3d(-2px,2px,0);
  }
}
.icon{
  background-color: transparent;
}
.icon-csv{
  width: 40px;
  height: 40px;
}
.icon-wrap{
  @include flex(column, center, center);
}
.icon-add{
  zoom: 0.47;
}
.icon-report{
  zoom: 0.24;
}
.icon-GoogleOauth2{
  zoom: 0.04;
}
.icon-Facebook{
  zoom: 0.05;
}
//header
#container-header{
  @include flex(row ,space-between, center);
  z-index: 999;
  padding: 10px 30px 0 30px;
  background-color: $background-color;
  a#site-name{
    font-size: 40px;
    font-weight: 200;
    color: $link-color;
  }
}
#page-title{
  font-weight: lighter;
  margin-left: 30px;
}
#home-title{
  font-size: 30px;
  font-weight: lighter;
  padding-left: 80px;
}
//login
.wrap-login-options{
  display: flex;
  flex-direction: column;
}
.login-option-txt{
  margin-left: 20px;
  background-color: transparent;
  transition:  .2s ease-out;
  // text-shadow: -1px 0 white,
  //              0 1px white,
  //              1px 0 white,
  //              0 -1px white;
  color: rgba(255,255,255,.6);
}
.login-option{
  padding: 10px;
  border-radius: 15px 0 15px 0;
  box-sizing: border-box;
  border: 2px solid rgba(54,54,54,.3);
  background-color: #5d5d5d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: .2s ease-out;
  -webkit-transition:  .2s ease-out;
  height: 90px;
  &:hover{
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 5px #444444;
    .login-option-txt{
      color: white;
    }
  }
}
a.login-option{
  text-decoration: none;
  color:#fff;
  font-size: 20px;
}
//Home
#wrap-home{
  @include flex(column,center,center);
}
.home-options{
  @include flex(row, flex-start,flex-start);
  margin: 50px;

  a.home-option{
    border: 1px solid rgba(255,255,255,.3);
    height: 200px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    transition: .3s ease;
    background-color: rgba(0, 103, 104, 0.4);
    color: rgba(255,255,255,.4);
    font-weight: lighter;
    // color: $link-color;
    // background-color: #d6e4aa;
    &::before{
      content:'';
      height:100%;
      width:0;
      vertical-align: middle;
      display:inline-block;
    }
    &:not(:first-child){
       margin: 0 0 0 30px;
    }
    &:hover{
      background-color: rgba(54, 54,54, 0.8);
      color: rgba(255,255,255,.9);
      font-size: 35px;
    }
  }
}
a#btn-logout{
  &:link, &:visited{
    text-decoration: none;
    color: $link-color;
  }
}
//terms
#terms-container{
  @include flex(column, center, center);
}
#terms-content{
  width: 60%;
}
//result page
.wrap-result{
  @include flex(column,flex-start,auto);
  margin: 20px 20px 0 20px;
  justify-content: flex-start;
  width: 400px;
}
.wrap-message{
  border:1px solid rgba(230, 13, 58, 0.7);
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}
.wrap-result .error{
  background-color:rgba(199, 13, 58, 0.7);
  color: #fff;
}
//Articles
#articles-container{
  @include flex(column, center, center)
}
#article-block{
  @include size(380px, 170px);
  @include flex(column, space-around, flex-start);
  background-color: #f3f9de;
  margin-top: 50px;
  padding: 15px;
}
h3[id*=article_]{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.wrap-title{
  @include flex(row, space-between, center);
  @include size(100%, auto);
}
//Words
#container-words{
  &.cards{
    @include flex(row, center, center);
  }
  &.document{
    @include flex(column ,flex-start, center);
  }
  h1,h2,h3,h4,h5{
    margin: 0;
    font-weight: normal;
  }
  padding: 0 40px 0 40px;
  flex-wrap: wrap;
}
.card-wrap{
  margin-top: 50px;
  width: 400px;
}
.card{
  width: 320px;// mobile width
  height: 230px;
  max-height: 280px;
  box-sizing: border-box;
  perspective: 1000px;
 .card-content.rotate{
    transform: rotateY(180deg);
  }
  .card-content{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid black;
  }
  .front, .back{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height:100%;
  }
  .front{
    @include flex(column, center, center);
    background-color: #83b582;
    color: #eee;
    .word{
      @include flex(row, space-between, center);
      font-size: 35px;
    }
    .definition{
      text-align: center;
    }
    .zh{
      display: inline-block;
      max-width: 200px;
      word-wrap: wrap;
      font-size: 18px;
    }
  }
  .back{
      background-color: #fcf8e8;
      transform: rotateY(180deg);
      .definition-org{
        width: inherit;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
      }
      .example, .translation{
        padding-left: 10px;
      }
      .example{
        line-height: 1.2;
        &::before{
          content: '';
          display: inline-block;
          border-radius: 50%;
          height: 4px;
          width: 4px;
          border: 1px solid black;
          margin-right: 10px;
          background-color: black;
          vertical-align: middle;
        }
      }
      .translation{
        margin-top: 10px;
      }
  }
  a.btn-details{
    &:link, &:visited{
      text-decoration: none;
      color: $link-color;
    }
    position: absolute;
    right: -55px;
    top: 110px;
  }
}
#wrap-document{
  max-width: 900px;
}
.def-block{
  margin-top: 40px;
  // border: 1px solid black;
  padding: 10px;
}
.wrap-def-org-examples{
  padding-left: 60px;
  margin-top: 30px;
}
.word-def-org{
  margin-top: 30px;
}
.word-pos{
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  &.noun{
    background-color: #2E4053;
  }
  &.verb{
    // background-color: #117A65;
    background-color: #1AB899;
  }
  &.adjective{
    background-color: #2471A3;
  }
}
.word-zh{
  color: #3390CF;
}
.ex-pair{
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FEF9E7;
  &:not(:first-child){
    margin-top: 10px;
  }
}
#dropdown-toggle{
  position: fixed;
  right: 9px;
  top: 101px;
  z-index: 999;
  background-color: #2E4053;
  padding: 5px;
  border-radius: 5px;
  .icon-add{
    zoom: .4;
  }
}
//Accounts/index
#container-account{
  @include flex(column, space-between, center);
  height: 374px;
  padding: 40px 40px 0 40px;
}
.wrap-date-and-sum{
  @include flex(column, flex-start, center);
}
.account-date{
  font-size: 20px;
  background-color: #58D68D;
  &.input-date{
    width: 53px;
  }
  &.btn-date{
    padding: 4px;
  }
  margin-bottom: 30px;
}
.table-account{
  border-collapse: collapse;
  thead{
    border-top: 1px solid #CCD1D1;
    border-bottom: 1px solid #CCD1D1;
  }
  th{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: normal;
    color: #99A3A4;
  }
  td{
    min-width: 64px;
    text-align: center;
  }
}
#dollar-sign{
  color: #55946A;
  &.light{
    color:#2ECC71;
  }
}
.daily-sum-text{
  font-size: 30px;
}
//Account options(create/ statistics)
@keyframes load-account-options-web{
  from{
    right: -5%;
    bottom: -5%;
  }
  to{
    right: 3%;
    bottom:3%;
  }
}
.wrap-account-options{
  right: 0%;
  bottom:0%;
  position: fixed;
  z-index: 100;
  animation: load-account-options-web .6s ease forwards;
}
.wrap-account-options .link{
  text-decoration: none;
  color:#fff;
}
.account-option{
  margin-bottom: 20px;
  position: relative;
  height: 90px;
  width: 90px;
  // border: 1px solid #666666;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  // background-color:rgba(255, 223, 116, 0.9); //=#f6d365;
  // background-color: #a0855b;
  background-color: #76D7C4;
  // background-color: rgb(54 ,105, 105);
  box-shadow: 0 0 20px rgba(121, 121, 121,.5);
  transition: .2s ease;
  &:hover{
    box-shadow: 5px 5px 20px rgba(121, 121, 121,.5);
  }
  &:active{
    transform: translate3d(4px,4px,0) rotate3d(0,1,1,5deg);
  }
}
.btn-report{
   display:flex;
   justify-content: center;
}
//Form
@keyframes drop{
  from {opacity: 0;}
  to{opacity: 1;}
}
@keyframes fold{
  from {opacity: 1;}
  to{opacity: 0;}
}
div[id*="dropdown-toggle"]{
  cursor: copy;
}
#wrap-dropdown-form{
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
  z-index: 99;
  animation: drop .3s normal forwards;
  &.in{
    animation: drop .5s normal forwards
  }
  &.out{
    animation: fold .2s normal forwards
  }
  &.show{
    display: flex;
  }
}
#dropdown-form {
  background-color: rgb(140, 117, 79);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: 1px solid grey;
  margin-bottom: 70px;
  width: 250px;

  .form-title{
    font-size: 30px;
    color: white;
  }

  .wrap-form-title{
    position: relative;
    margin: 15px 0 15px 0;
  }

  .x{
    font-size: 20px;
    background-color: #7fa998;
    top: 8px;
    right: 10px;
    position: absolute;
    padding: 0px 10px 4px 10px;
    border:1px solid white;
    transition: .2s ease-out;
    cursor: pointer;
    &:hover{
      box-shadow: 0px 0px 5px #eeeeee;
    }
  }
}
#form-ph {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;

  .input{
    border: 1px solid;
    font-size: 20px;
    margin: 0 20px 15px 20px;
  }

  .text-field{
    background-color: #222222;
    padding: 5px 0px 5px 20px;
    color: #eee;
    &::placeholder{
      color: #fff;
      opacity: 0.5;
    }
  }

  .submit{
    background-color: #c7e4ff;
    height: 40px;
    &:active, &:focus, &:visited{
      background-color: #4a8ee2;
      outline: none;
    }
  }

  .select{
    height:35px;
    color: #000;
    padding-left: 10px;
  }

  .btn-ph{
    padding: 10px 15px 10px 15px;
    margin-top:20px;
  }

}
//Excel
#form-upload{
  .file-input{
     font-size:18px;
  }
}
.wrap-excel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
}
.btn-excel{
  background-color: #1b1b1b;
  padding: 5px 15px 5px 15px;
  color: rgba(255,255,255,.5);
  font-size: 20px;
  transition: .1s ease-in;
  &:hover{
    box-shadow: 0 0 5px rgb(201, 201, 201);
    color: rgba(255,255,255,.8);
  }
}
.btn-export{
  margin: 50px 0px 50px 0;
}
a.btn-export, a.btn-export:hover, a.btn-export:visited, a.btn-export:active{
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  border-radius: 15px;
  text-align:center;
  font-size: 30px;
  float: left;
  width: 120px;
  padding: 5px 10px 5px 10px;
  background-color: #1a1a1a;
  transition: .2s ease-out;
  -webkit-transition: .2s ease-out;
}
a.btn-export:hover{
  background-color: #6d6d6d;
}
#container-excel{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 20px 400px 20px;
}
#container-excel .list{
  height: 100%;
}
#wrap-two-tables{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#wrap-table{
  display:flex;
  flex-direction: column;
}
//ToDo List
#dropdown-toggle-todo{
  position: absolute;
  right: 20px;
  bottom: 50px;
  background-color: #a0855b;
  color: #eee;
  font-size: 60px;
  width: 80px;
  height: 80px;
  z-index: 100;
  &:focus{
    outline: 0;
  }
  &:hover{
    background-color: #9e8b6c;
  }
  &:active{
    background-color: #746142;
    color: #3e3e3e;
  }
}
#dropdown-form-add-todo{
  background-color: rgba(54,54,54,.9);
  border:1px solid rgba(250,250,250,.5)
}
#wrap-todo-date{
  text-align: center;
}
#form-add-todo{
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px 30px 40px 30px;
  .wrap-form-title{
    text-align: center;
    font-size: 30px;
  }
  input{
    padding:10px;
    border:1px solid rgba(54,54,54,.8);
  }
  .input-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    select[id^="to_do_list"]{
      width: 80px;
    }
  }
  .wrap-todo-field{
    display: flex;
    flex-direction: column;
    color:#fff;
    margin-top: 30px;
    .wrap-remind{
      margin-left: 20px;
    }
  }
  .btn-add-todo{
    background-color: #38470b;
    margin-top:30px;
    font-size: 20px;
    color: #fff;
    padding: 10px 0 10px 0;
    transition: .2s ease;
    &:hover{
      background-color: #4b5e12;
    }
  }
}
#btn-delete-todo{
  text-decoration: none;
}
#container-supplies-page{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 50px 0 0 50px;
  &.state{
    justify-content: center;
  }
}
.wrap-link-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}
.wrap-cal{
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  background-color:  rgba(54,54,54,.7);
  border-radius: 5px;
  .wrap-cal-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 0 5px 0 5px;
    .label-cal{
      font-size: 22px;
      color: #ddd;
    }
    .input-cal{
      font-size: 20px;
      color: #eee;
      background-color: #52432a;
      border: 1px solid #444444;
      border-radius: 5px;
      margin-top: 10px;
      padding: 5px;
      width: 50px;
      &::placeholder{
        color: #888;
      }
    }
  }
}
#live{
  color: #fff;
  font-size: 30px;
}
// tables TODO: should make every use this
.table{
  //These two lines allows thead/tbody:display:block to have their th width percentaged
  table-layout: fixed;
  th, td{
    padding: 10px 20px 10px 20px;
  }
  th{
    // background-color: #3e3e3e;
    background-color: #83b582;
    color: white;
    position: relative;
  }
  td{
    // background-color: #666666;
    background-color: transparent;
    color: rgba(54, 54, 54,.8);
  }
  thead, tbody{
    display: block;
  }
  //supplies
  &.supplies-state{
    font-size: 20px;
    td, th{
      min-width: 100px;
    }
  }
  .supply-name{
    width: 70px;
  }
  .supply-category{
    width: 70px;
  }
  .supply-quantity{
    width: 50px;
  }
  .supply-earliest_expiration{
    width: 200px;
  }
  .supply-delete{
    width: 50px;
    text-decoration: none;
    color: #fff;
  }
}
//RWD
@media only screen and (max-width:576px){
    #container-header{
      position: fixed;
      top: 0;
      padding: 0;
      width: 100%;
      height: $mobile-header-height;
      @include flex(row ,center, center);
      flex-wrap: wrap;
      border-bottom: 1px solid black;
      a#site-name{
        font-size: 30px;
        font-weight: 200;
        color: $mobile-site-name-color;
      }
    }
    #page-title{
      display: none;
    }
    #wrap-user-status{
      position: fixed;
      width: 0;
      #current-username{
        display: none;
      }
      a#btn-logout{
        right: 11px;
        top: 20px;
        position: fixed;
      }
    }
    .container{
      margin-top: $mobile-header-height;
    }
    //home
    #container-home #home-title{
      padding: 0;
    }
    div.home-options{
      flex-direction: column;
      a.home-option{
        &:not(:first-child){
          margin: 15px 0 0 0;
        }
        background-color: #34495E;
        color: white;
        // text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
      }
    }
    .wrap-login-options{
      width:100%
    }
    #container-cl, #container-home{
      width: auto;
      height: auto;
      align-items:center;
      justify-content: center;
    }
    //word
    .card{
      width: 240px;// mobile width
      .btn-details{
        right: -30px;
      }
    }
    .card-wrap{
      width: 320px;
    }
    //table
    table{
      &.table-todolist{
        width: 95%;
        border: 1px solid #eee;
        color:#fff;
        border-collapse:collapse;
        font-size: 12px;
        th, td{
          text-align: left;
          padding: 0px;
        }
      }
    }
    .wrap-date{
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 285px;

      #date-form{
        position: relative;

        .input-date {
          width: 200px;
        }
      }
    }
    //account
    .currency, .category{
      display: none;
    }
    #dropdown-toggle{
      display: flex;
      flex-direction: row;
    }
    #dropdown-form{
      margin-top:-10px;
    }
    @keyframes load-account-options-mob{
      from{
        bottom: -8%;
      }
      to{
        bottom: 4%;
      }
    }
    .wrap-account-options{
      right: 0%;
      bottom:0%;
      float: bottom;
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
      width: 100%;
      animation: load-account-options-mob .6s ease forwards;
      .account-option{
        margin-bottom: 0px;
      }
    }

    #result{
      width: 80%;
      margin: 30px;
    }
    //excel
    #wrap-two-tables{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    //todo
    #form-add-todo{
      padding: 0px;
      justify-content: center;
      align-items: center;
      .wrap-form-title{
        margin-top: 30px;
      }
      .wrap-todo-field{
        width: 175px;
        margin-top: 10px;
      }
      .btn-add-todo{
        margin-bottom: 30px;
      }
    }
    #dropdown-toggle-todo{
      font-size: 48px;
      width: 55px;
      height: 55px;
      bottom: 15px;
      right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      #dropdown-toggle-text{
        height: 50px;
      }
    }

    .table-supplies{
      // th,td{padding: 0 3px 0 3px;}
      &.state{
      font-size: 15px;
        td, th{
          min-width: 30px;
        }
      }
    }
}