@font-face{
  font-family:'Comic Sans MS';
  src: font-url('Comic_Sans_MS.ttf') format('truetype');
}

@keyframes shine{
  to{
    -webkit-filter: drop-shadow(0px 0px var(--shadow ,25px) rgba(255, 255, 210,0.7));
    filter: drop-shadow(0px 0px var(--shadow ,25px) rgba(255, 255, 210,0.7));
  }
}
@keyframes shine-rotate{
  to{
    transform: rotate(var(--d,270deg));
    -webkit-filter: drop-shadow(0px 0px var(--shadow ,25px) rgba(255, 255, 210,0.7));
    filter: drop-shadow(0px 0px var(--shadow, 25px) rgba(255, 255, 210,0.7));
  }
}

html{
  height: 100%;
  width: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-size: 400%;
  background-color:rgba(3, 3, 3, 1);
}

*{
  color: #fff;
  // font-family: 'Acme', sans-serif;
  // font-family: 'Gotham Rounded Medium';
  font-family: 'Comic Sans MS';
}

input{
  border-color: #111;
}
input:focus, textarea:focus {
  outline: none;
}
.alert:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align: middle;
}
@keyframes alert-forwards{
   0%{
    top:-130px;
   }
   100%{
    top:-50px;
   }
}
@keyframes alert-backwards{
  0%{
   top:-50px;
  }
  100%{
   top:-130px;
  }
}
.wrap-alert{
  display: flex;
  font-display: column;
  justify-content: center;
  align-items: flex-end;
}
.alert-txt{
  background-color:transparent;
  margin-bottom: 15px;
}
.alert{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 15px 0 15px;
  position: fixed;
  height: 90px;
  font-weight: bold;
  z-index: 999;
  // border-radius: 0 0 10px 10px;
  text-shadow: -1px 0 #222222, 0 1px #222222, 1px 0 #222222, 0 -1px #222222;
  animation: alert-forwards .8s ease normal forwards;
}
.alert.alert-success{
  background-color: rgba(2, 168, 77, 0.7);
}
.alert.alert-danger{
  background-color:rgba(199, 13, 58, 0.7)
  // background-color: rgba(255, 138, 92, 0.7);
}


//result page
.wrap-result{
  display: flex;
  margin: 20px 20px 0 20px;
  flex-direction: column;
  justify-content: flex-start;
  width:400px;
}
.wrap-message{
  border:1px solid rgba(230, 13, 58, 0.7);
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}
.wrap-result .error{
  background-color:rgba(199, 13, 58, 0.7)
}


//components
%container{
  display: flex;
  justify-content: flex-start;
  margin: 20px 20px 50px 20px;
  width: 90%;
  margin-top: 80px;
}
#container-cl{
  @extend %container;
  flex-direction: column;
}
#container-rw{
  @extend %container;
  flex-direction: row;
}
.round{
  border-radius: 50%;
}
.btn-grad {
  background-size: 300% auto; //imp
  background-image: linear-gradient(90deg, rgb(41, 52, 98 ) 0%, rgb(77, 91, 146) 50%, rgb(41, 52, 98 ) 100%);
  background-position: left center;
  box-shadow: 3px 3px 10px #333333;

  text-decoration: none;
  margin: 0 15px 0 15px;
  padding: 15px;
  text-align:center;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  &:hover{
    background-position: right center;
    transform: translate3d(-3px,-3px,0);
  }
  &:active{
    transform: translate3d(-2px,2px,0);
  }
}
.icon{
  background-color: transparent;
}
.icon-csv{
  width: 40px;
  height: 40px;
}
.icon-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-add{
  zoom: 0.47;
}
.icon-report{
  zoom: 0.45;
}
.icon-GoogleOauth2{
  zoom: 0.04;
}
.icon-Facebook{
  zoom: 0.05;
}
.login-options{
  display: flex;
  flex-direction: column;
}
.login-option-txt{
  margin-left: 20px;
  background-color: transparent;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.login-option{
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 2px solid rgba(255,255,255,.5);
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition:  .3s ease-out;
  -webkit-transition:  .3s ease-out;
  height: 90px;
  &:hover{
    transform: translate(-5px, -5px);
    background-color: #222222;
    box-shadow: 3px 3px 10px #434343;
  }
}

a.login-option{
  text-decoration: none;
  color:#fff;
  font-size: 20px;
}



//header
.icon-inheader{
  height: 40px;
  width: 40px;
}
#container-top{
  position:relative;
  padding-top: 20px;
  // border-bottom: 1px solid #FaFaFa;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;;
  justify-content: space-between;
  margin: 0 10% 0 10%;
}

#titles{
  margin-left: 30px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#titles a,#titles a:active,#titles a:visited{
  text-decoration: none;
  transition: .1s linear;
  color: #ffffff;
  &:hover{
    opacity: 0.5;
  }
}

#wrap-user-status{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
}

#current-username{
  color: #8a8a8a;
  padding: 5px 10px 5px 10px;
}

.btn-logout{
  padding: 5px 10px 5px 10px;
  margin: 0 15px 0 15px;
}

.btn-logout a::before{
  content:'';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.btn-logout a, .btn-logout a:hover, .btn-logout a:active,.btn-logout a:visited{
  text-decoration: none;
  color: #fff;
}

//Home Options
.wrap-home{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
a.home-option{
  text-decoration: none;
  color: #fff;
}
.home-option{
  border:1px solid white;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 10px 0;
  width: 180px;
  margin:10px;
  border-radius: 10px;
  transition: .1s ease;
  background-color: #1a1a1a;
  &:hover{
    background-color: rgb(55, 55, 55);
  }
  &:active{
    transform: translate(2px,2px);
  }
}

//Accounts/index
#container-account{
  height: 80%;
}

table{
  // border-collapse: collapse; 如果要圓角的話會，必須設為separate，不然collapse會跟樓下的合在一起，變成圓角外面又一個方匡
  z-index: 2;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th,td{
    border: 1px solid rgba(255,255,255,.5);
  }
  td{
    background-color: rgba(54,54,54,1);
    word-break: break-all;
    color: rgba(255,255,255,0.6);
  }
  &.table-account {
    td          {text-align:center;}
    .time       {width:150px;}
    .content    {width:100px;}
    .price      {width:70px;}
    .category   {width:70px;}
    .description{width:70px;}
    .currency   {width:70px;}
    .delete     {width:60px;}
    td.delete{
      cursor: pointer;
    }
    thead{
      display:block;
      width:100%;
    }
    tbody{
      display: block;
      height: 300px; //有限制高才會被overflow scroll
      width:100%;
      overflow-y:auto;
    }
  }

  &.table-file{
    .file-icon {
      text-align: center;
      width: 100px;
    }
    .file-name {
      width: 400px;
      a, a:hover, a:visited, a:active{
        text-decoration: none;
        text-align: left;
        color: #fff;
      }
    }
    .file-delete {
      width: 65px;
      &:hover{
        background-color:#df4141;
      }
      &:active{
        background-color:#960000;
        color:#fff;
      }
      .delete-icon{
        text-align: center;
        color: #fff;
        color:#cc2222;
      }
      a{
        text-decoration: none;
      }
    }
    .path-icon{
      height: 30px;
      width:  30px;
    }
  }


}


.wrap-date{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#form-date{
  margin:3px;
  *{
    font-size: 20px;
    padding: 0 8px 0 8px;
  }
  .input-date{
    background-color: rgba(218, 218, 218, 0.329);
    color: #b8b8b8;
    margin:5px;
    border-radius: 10px;
  }
  .btn-date{
    background-color: rgb(55,55,55);
    border:1px solid #acacac;
    border-radius: 5px;
    transition: .1s ease-out;
    &:hover{
      background-color: rgb(90, 90, 90);
    }
  }
}

.wrap-account-today{
  margin: 0 20px 0 20px;
}

@keyframes load-account-options-web{
  from{
    right: -5%;
    bottom: -5%;
  }
  to{
    right: 3%;
    bottom:3%;
  }
}
.account-options{
  right: 0%;
  bottom:0%;
  position: fixed;
  z-index: 200;
  animation: load-account-options-web .6s ease forwards;
}
.account-options .link{
  text-decoration: none;
  color:#fff;
}

.account-option{
  margin-bottom: 20px;
  position: relative;
  height: 90px;
  width: 90px;
  border: 1px solid #666666;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s ease-out;
  -webkit-transition: .3s ease-out;
  // background-color:#0075e2;
  background-color:rgba(255, 223, 116, 0.9); //=#f6d365;
  box-shadow: 0 0 20px rgb(233, 233, 169);
  // background: linear-gradient(180deg, rgba(5,19,43,1) 0%, rgba(46,91,171,1) 76%, rgba(92,129,194,1) 100%);
  transition: .2s ease;
  &:hover{
    transform: translate3d(-5px,-5px,0) ;
    box-shadow: 5px 5px 20px rgb(233, 233, 169);
  }
  &:active{
    transform: translate3d(4px,4px,0) rotate3d(0,1,1,5deg);
  }
}

.btn-report{
   display:flex;
   justify-content: center;
}

//Form
@keyframes drop{
  from {opacity: 0;}
  to{opacity: 1;}
}
@keyframes fold{
  from {opacity: 1;}
  to{opacity: 0;}
}
#dropdown-toggle{
  cursor: copy;
}


#wrap-dropdown-form{
  background-color: rgba(255,255,255,0.3);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
  z-index: 99;
  animation: drop .3s normal forwards;
}

#dropdown-form {
  background: linear-gradient(180deg, rgba(16,49,107,1) 0%, rgba(46,91,171,1) 73%, rgba(92,129,194,1) 100%);
  display: flex; //should be none
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border:1px solid white;
  border-radius: 15px;
  margin-bottom: 70px;
}
#wrap-dropdown-form.in{
  animation: drop .8s normal forwards
}
#wrap-dropdown-form.out{
  animation: fold .2s normal forwards
}
#wrap-dropdown-form.show{
  display: flex;
}
#dropdown-form .form-title{
  background-color: transparent;
  font-size: 30px;
}
#dropdown-form .wrap-form-title{
  position: relative;
  background-color: inherit;
  margin:15px 0 15px 0;
}
#dropdown-form .wrap-form-title .x{
  font-size: 20px;
  background-color: #004b91;
  position: absolute;
  float: right;
  margin-left: 30px;
  padding:3px 10px 3px 10px;
  border:1px solid white;
  border-radius: 50%;
  transition: .2s ease-out;
  -webkit-transition: .2s ease-out;
  cursor: pointer;
}
#dropdown-form .wrap-form-title .x:hover{
  transform: translate(-1px,-1px);
  box-shadow: 4px 4px 20px #555555;
}
#form-ph {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
}
#form-ph .input{
  border-radius: 15px;
  border: 1px solid;
  font-size: 20px;
  margin:0 20px 15px 20px;
}
#form-ph .text-field::placeholder{
  color: #cccccc;
  opacity: 0.5;
}
#form-ph .text-field{
  background-color: #222222;
  padding: 5px 0px 5px 20px;
}
.submit{
  background-color: #0075e2;
  height: 40px;
}
.submit:active, .submit:focus, .submit:visited{
  background-color: #4a8ee2;
  outline: none;
}
#form-ph .select{
  height:35px;
  color: #000;
  padding-left: 10px;
}

#form-ph .btn-ph{
  padding: 10px 15px 10px 15px;
  margin-top:20px;
}




//Excel
.btn-excel{
  box-shadow: 0 0 5px rgb(201, 201, 201);
  background-color: #222222;
  color: rgba(255,255,255,.5);
  border-radius: 5px;
  transition: .2s ease-in;
  &:hover{
    color: rgba(255,255,255,.8);
    background-color: #333333;
  }
}
.btn-export{
  margin: 50px 0px 50px 0;
}
a.btn-export, a.btn-export:hover, a.btn-export:visited, a.btn-export:active{
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  border-radius: 15px;
  text-align:center;
  font-size: 30px;
  float: left;
  width: 120px;
  padding: 5px 10px 5px 10px;
  background-color: #1a1a1a;
  transition: .2s ease-out;
  -webkit-transition: .2s ease-out;
}
a.btn-export:hover{
  background-color: #6d6d6d;
}
#container-excel{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 20px 400px 20px;
}
#container-excel .list{
  height: 100%;
}
#wrap-two-tables{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#wrap-table{
  display:flex;
  flex-direction: column;
}

//Test list
// .list{
//   border: 1px solid black;
//   width: 100%;
//   overflow: scroll;
//   height: 300px;
// }

@media only screen and (max-width:500px){
    #wrap-user-status{
      width: 0;
      #current-username{
        display: none;
      }
      .btn-logout{
        margin: 0;
      }
    }
    .wrap-home{
      margin-top:30px;
    }
    .login-options{
      width:100%
    }
    #container-cl{
      width: auto;
      height: auto;
      align-items:center;
      justify-content: center;
    }
    //table
    .wrap-date{
      justify-content: flex-start;
      align-items: flex-start;
      .input-date{
        width:60%;
      }
    }
    .wrap-account-today{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .table-account .currency, .table-account .description{
        display: none;
      }
      .table-account tbody{
        height: 250px;
      }
    }
    //Form
    #dropdown-toggle{
      display: flex;
      flex-direction: row;
    }
    #dropdown-form{
      margin-top:-30px;
    }
    @keyframes load-account-options-mob{
      from{
        bottom: -8%;
      }
      to{
        bottom: 4%;
      }
    }
    .account-options{
      right: 0%;
      bottom:0%;
      float: bottom;
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
      width: 100%;
      animation: load-account-options-mob .6s ease forwards;
      .account-option{
        margin-bottom: 0px;
      }
    }

    #result{
      width: 80%;
      margin: 30px;
    }
    //excel
    #wrap-two-tables{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
}