@import './resources.scss';
#list-page-wrap{
  @include flex(column, center, center);
  @include size(100%, 100%);
  position: fixed;
}
#list-container{
  @include flex(row, center, center);
  @include size(100%, 100%);
  margin-top: 30px;
  margin-left: 120px;

  &.has-selected-list{
    margin-left: 0px;
  }
}
$list-seleted-grow-time: .1s;
$fade-time: .1s;
$input-disable-time: .1s;
.list{
  margin-left: -120px;
  @include flex(column, flex-start, center);
  background-color: rgb(255, 241, 164);
  width: 250px;
  height: 450px;
  box-sizing: border-box;
  padding: 4px 0 4px 0;
  transition: transform .2s ease, background-color 2s ease, opacity $fade-time ease;

  transform: rotateX(15deg) rotateY(40deg);
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  // &:not(:first-of-type):not(:last-of-type){
    // margin-left: -120px;
  // }

  &:not(.selected):hover{
    transform: translateY(-80px);
  }

  &:not(.selected:hover){
    opacity: 0.5;
  }

  &.selected{
    transform: none;
    cursor: default;
    width: 350px;
    margin: 0;
    transition: transform $list-seleted-grow-time ease-in-out;
  }

  &.list-before-delete{
    animation: list-removing .2s ease forwards;
  }
}
.add-new-list{
  font-family: cursive;
  font-size: 60px;
}
// setLoading = div.loading-mask.empty-flex-center.inherit-parent-size > div.loading-spin
.list-body{
  position: relative;
  @include size(100%, 100%);

  & .body-content-base{
    position: absolute;
    @include flex(column, flex-start, center);
    @include size(100%, 100%);
    opacity: 0;

    &.content{
      &.empty-with-a-plus{
        @include flex(row, center, center);
      }
    }
    &.mask{
      // background-color: rgba(22,22,22,.3);
      @include flex(row, center, center);
    }
    &.display{
      opacity: 1;
      z-index: 2;
    }
    &:not(.display) .loading-spin{ //我不想要一開始就所有人的這個都在背後轉
      display: none;
    }
    .loading-spin{
      margin-bottom: 55px; //讓他看起來置中一點
    }
  }
}
.loading-spin{
  @include size(60px, 60px);
  border-width: 7px;
  border-style: solid;
  border-color: #a6bedd gray gray gray;
  border-radius: 50%;
  animation: loading-spin .6s linear infinite;
}
@keyframes loading-spin{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
input[type="text"]:disabled{
  transition: $input-disable-time linear;
  opacity: 0.4;
}
//to make detetion smoother, shirnk it first, remove margin(this cause shivering on delete), then delete
@keyframes list-removing{
  to{width: 0;opacity: 0;margin:0}
}
.fade-in{
  animation: fade-in $fade-time forwards;
}
.fade-out{
  animation: fade-out $fade-time forwards;
}
@keyframes fade-out{
  from{opacity: 1;}
  to{opacity: 0;}
}
// #list-new-top-container{
//   @include flex(row, space-around, center);

//   input[type="submit"]{
//     &:hover{
//       background-color: rgb(100, 100, 100);
//       transition: .1s ease;
//     }
//     transition: background-color .1s ease;
//     background-color: #009649;
//     color: #eee;
//     border: 1px solid;
//     border-radius: 6px;
//     cursor: pointer;
//     font-size: 27px;
//     margin-left: 8px;
//   }
// }
input.list-name{
  background-color: transparent;
  border-radius: 7px;
  border: solid 1px #5b5b5b;
  background-color: rgba(150, 150, 150, 0.2);
  padding: 1px 5px 3px 9px;
  background-color: transparent;
  border: none;
  text-align: center;
  &::placeholder{
    font-size: 19px;
  }
  &:focus{
    outline: none;
  }
  width: 220px;
  transition: opacity $input-disable-time linear;
}
.delete-list{
  position: absolute;
  right: 20px;//因為list這個parent是relative，所以child若是absolute，left就是對parent的絕對位置！https://stackoverflow.com/questions/5209814/can-i-position-an-element-fixed-relative-to-parent
  top: 16px;
  font-size: 22px;
}
.list-name{
  margin: 0.5em 0 0.5em 0;
  font-size: 23px;
}
.list-row{
  transform: scale(0.7);

  &.grow{
    transform: none;
    transition: transform $list-seleted-grow-time ease-out;
  }

  @include flex(row, center, center);
  &.show{
    flex-direction: center;
  }
  width: 300px;

  & .item-drag{
    font-size: 24px;
    vertical-align: middle;
    height: inherit;
    cursor: pointer;
    &.grabbing{
      cursor: grabbing;
    }
  }
  & .item-check{
    @include size(24px, 24px);
    max-height: inherit;
  }
  & .item-name{
    font-size: 20px;
    border-bottom: #5b5b5b 1px solid;
    width: 215px;
    height: inherit;
  }
  & .item-show-toggle{
    cursor: pointer;
    border-style: solid;
    border-color: #5b5b5b transparent transparent transparent;
    border-width: 10px 7px 0 7px;
    &.selected{
      border-color: transparent transparent #5b5b5b transparent;
      border-width: 0 7px 10px 7px;
    }
  }
  transition: border .2s ease-out;

  // opacity: 0;
  // animation: fade-in .8s ease forwards;
}
@keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}
.covering{
  opacity: .7;
}
.will-insert-before{
  border-top: solid 1px #fa2525;
}
.will-insert-after{
  border-bottom: solid 1px #fa2525;
}

#back-to-todolist{
  @include size(50px, 50px);
  position: absolute;
  bottom: 20px;
  border-radius: 50%;
  font-size: 23px;
}