@import './resources.scss';

.list{
  @include flex(column, flex-start, center);
  // border: solid 1px #eee;
  background-color: rgb(255, 241, 164);
  width: 250px;
  height: 500px;
  box-sizing: border-box;
  padding: 4px 0 4px 0;
  transition: .2s ease;

  transform: rotateX(15deg) rotateY(40deg);
  transform-style: preserve-3d;
  // position: absolute;
  position: relative;
  cursor: pointer;
  margin-left: -120px;

  &:hover{
    transform: translateY(-80px);
  }

  &.show{
    transform: none;
    cursor: default;
    width: 350px;
    margin: 0;
  }

  &.loading{
    justify-content: center;
    &::before{
      content: "";
      width: 30px;
      height: 30px;
      border-width: 7px;
      border-style: solid;
      border-color: #a6bedd gray gray gray;
      border-radius: 50%;
      animation: list-loading .6s linear infinite;
    }
  }
}
@keyframes list-loading{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
.dummy-list{
  @include flex(column, center, center);
  opacity: .6;
  width: inherit;
  padding: 0;
  li{
    list-style: none;
    .dummy-item-name{
      border-bottom: #5b5b5b 1px solid;
      display: inline-block;
      width: 140px;
      // height: 24px;
    }
  }
}
.list-row{
  @include flex(row, center, center);
  &.show{
    flex-direction: center;
  }
  width: 300px;
  padding: 5px 0 5px 0;
  & .item-drag{
    font-size: 24px;
    vertical-align: middle;
    height: inherit;
    cursor: pointer;
    &.grabbing{
      cursor: grabbing;
    }
  }
  & .item-check{
    @include size(24px, 24px);
    max-height: inherit;
  }
  & .item-name{
    font-size: 20px;
    border-bottom: #5b5b5b 1px solid;
    width: 215px;
    height: inherit;
  }
  & .item-show-toggle{
    cursor: pointer;
    border-style: solid;
    border-color: #5b5b5b transparent transparent transparent;
    border-width: 10px 7px 0 7px;
    &.selected{
      border-color: transparent transparent #5b5b5b transparent;
      border-width: 0 7px 10px 7px;
    }
  }
  transition: border .2s ease-out;

  // opacity: 0;
  // animation: fade-in .8s ease forwards;
}
@keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}
.covering{
  opacity: .7;
}
.will-insert-before{
  border-top: solid 1px #fa2525;
}
.will-insert-after{
  border-bottom: solid 1px #fa2525;
}