// Place all the styles related to the vocabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './resources.scss';
@mixin flex($fd:row, $jc:flex-start,$ai:flex-start){
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
@mixin size($w, $h){
  width: $w;
  height: $h;
}
#container-words{
  &.cards{
    @include flex(row, center, center);
  }
  &.document{
    @include flex(column, flex-start, flex-start);
    margin-top: 90px;
  }
  h1,h2,h3,h4,h5{
    margin: 0;
    font-weight: normal;
  }
  padding: 0 40px 0 40px;
  flex-wrap: wrap;
  width: 100%;
}
.card-wrap{
  margin-top: 50px;
  width: 400px;
}
.card{
  width: 320px;// mobile width
  height: 230px;
  max-height: 280px;
  box-sizing: border-box;
  perspective: 1000px;
 .card-content.rotate{
    transform: rotateY(180deg);
  }
  .card-content{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    // border: 1px solid black;
  }
  .card-face{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height:100%;
    border-radius: 8px;
    &.front{
      @include flex(column, center, center);
      // background-color: #83b582;
      background-color: #117864;
      color: #eee;
      .word{
        @include flex(row, space-between, center);
        font-size: 35px;
      }
      .definition{
        text-align: center;
      }
      .zh{
        display: inline-block;
        max-width: 200px;
        word-wrap: wrap;
        font-size: 18px;
      }
    }
    &.back{
        background-color: #fcf8e8;
        transform: rotateY(180deg);
        .definition-org{
          width: inherit;
          height: auto;
          box-sizing: border-box;
          padding: 10px;
        }
        .example, .translation{
          padding-left: 10px;
        }
        .example{
          line-height: 1.2;
          &::before{
            content: '';
            display: inline-block;
            border-radius: 50%;
            height: 4px;
            width: 4px;
            border: 1px solid black;
            margin-right: 10px;
            background-color: black;
            vertical-align: middle;
          }
        }
        .translation{
          margin-top: 10px;
        }
    }
  }
  a.btn-details{
    &:link, &:visited{
      text-decoration: none;
      color: #fff;
    }
    position: absolute;
    right: -55px;
    top: 110px;
  }
}
#wrap-document{
  max-width: 900px;
}
.word-name{
  color: #fff;
}
.wrap-definition{
  color: #fff;
}
.def-block{
  margin-top: 40px;
  padding: 10px;
}
.wrap-def-org-examples{
  padding-left: 60px;
  margin-top: 30px;
}
.word-def-org{
  margin-top: 30px;
  color: #fff;
}
.word-pos{
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  &.noun{
    background-color: #2E4053;
  }
  &.verb{
    // background-color: #117A65;
    background-color: #1AB899;
  }
  &.adjective{
    background-color: #2471A3;
  }
}
.word-zh{
  color: #3390CF;
}
.ex-pair{
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FEF9E7;
  &:not(:first-child){
    margin-top: 10px;
  }
}
.btn-back{
  font-size: 27px;
  transition: color .1s ease;
  &:hover{
    color: #aaa;
    transition: color .1s ease;
  }
}
#dropdown-toggle{
  position: fixed;
  right: 9px;
  top: 101px;
  z-index: 999;
  .icon-add{
    zoom: .4;
  }
}
@keyframes drop{
  from {opacity: 0;}
  to{opacity: 1;}
}
@keyframes fold{
  from {opacity: 1;}
  to{opacity: 0;}
}
div[id*="dropdown-toggle"]{
  cursor: pointer;
}
#wrap-dropdown-form{
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
  z-index: 99;
  animation: drop .3s normal forwards;
  &.in{
    animation: drop .5s normal forwards
  }
  &.out{
    animation: fold .2s normal forwards
  }
  &.show{
    display: flex;
  }
}
#dropdown-form {
  background-color: #117864;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 15px;
  margin-bottom: 70px;
  width: 320px;
  height: 230px;
  .form-title{
    font-size: 30px;
    color: #fff;
    font-weight: normal;
  }
  .wrap-form-title{
    position: relative;
    margin: 15px 0 15px 0;
  }
  .x{
    font-size: 20px;
    top: 10px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    color: #eee;
  }
}
#form-ph {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;

  .input{
    border: 1px solid;
    font-size: 20px;
    margin: 0 20px 15px 20px;
  }

  .text-field{
    background-color: #222222;
    padding: 5px 0px 5px 20px;
    color: #eee;
    &::placeholder{
      color: #fff;
      opacity: 0.5;
    }
  }

  .submit{
    background-color: #c7e4ff;
    height: 40px;
    cursor: pointer;
    &:active, &:focus, &:visited{
      background-color: #4a8ee2;
      outline: none;
    }
  }

  .select{
    height:35px;
    color: #000;
    padding-left: 10px;
  }

  .btn-ph{
    padding: 10px 15px 10px 15px;
    margin-top:20px;
  }
}