//login
@font-face{
  font-family: 'Noto Sans';
  src: font-url('NotoSans-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Noto Sans CJK TC';
  src: font-url('NotoSansCJKtc-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'fontello';
  src: font-url('asterisk/fontello.eot?27015240');
  src: font-url('asterisk/fontello.eot?27015240#iefix') format('embedded-opentype'),
       font-url('asterisk/fontello.woff2?27015240') format('woff2'),
       font-url('asterisk/fontello.woff?27015240') format('woff'),
       font-url('asterisk/fontello.ttf?27015240') format('truetype'),
       font-url('asterisk/fontello.svg?27015240#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
input[type="password"] {
	font-family: 'fontello' !important;
	font-style: normal;
  font-weight: normal;
  font-size: 12px;
	speak: none;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

	/* add spacing to better separate each image */
	letter-spacing: 2px;
}
@mixin flex($fd:row, $jc:flex-start,$ai:flex-start){
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
@mixin size($w, $h){
  width: $w;
  height: $h;
}
*{
  box-sizing: border-box;
}
*:not(.tc){
  font-family: 'Noto Sans';
}
html, body{
  margin: 0;
  padding: 0;
  @include size(100%, 100%);
}
body{
  display: grid;
  justify-content: center;
  align-content: center;
}
.tc{
  font-family: 'Noto Sans CJK TC';
}
a{
  text-decoration: none;
}
a:link, a:hover, a:active, a:visited{
  color: #5B5858;
}
#container-signin{
  @include flex(column, flex-start, center);
  @include size(580px, 645px);
  border-radius: 6px;
  background-color: white;
  border: 1px solid #5B5858;
  border-radius: 15px;
}
#txt-signin{
  font-size: 48px;
  color: #636363;
  font-weight: normal;
}
.wrap{
  &.signin{
    margin-top: 21px;
  }
  &.signup{
    margin-bottom: 21px;
  }
  &.oauth{
    @include flex(column, center, center);
  }
  &.middle{
    margin-top: 15px;
    @include flex(row, space-between, center);
  }
  &.inputs{
    @include flex(column, center, center);
  }
}
.txt{
  color: #979797;
  font-size: 22px;
}
hr{
  display: inline-block;
  width: 189px;
}
.signin-option{
  @include flex(row, center, center);
  @include size(290px, 43px);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .2));
  $transition-delay: .1s;
  border-radius: 6px;
  &:not(.input){ //facebook and google
    margin-top: 10px;
    font-family: 'Noto Sans CJK TC';
  }
  &.facebook{
    background-color: #3C5999;
    color: rgba(255,255,255, .9);
    transition: all $transition-delay ease-out;
    &:hover{
      background-color: #2b3e66;
      color: white;
      transition: all $transition-delay ease-out;
    }
  }
  &.google{
    background-color: white;
    border: 1px solid #979797;
    color: black;
    transition: all $transition-delay ease-out;
    &:hover{
      background-color: #D8D8D8;
      // color: rgba(216, 216, 216, .8);
      transition: all $transition-delay ease-out;
    }
  }
  &.input{
    background-color: #F7F7F7;
    color: #5B5858;
    padding: 12px;
    border: 1px solid #979797;
    //signin.js focus
    transition: outline-color .2s ease;
    &.focus{ //signin.js focus
      outline-color: #5B5959;
      transition: .2s ease;
    }
  }
  &.input.username{
    font-size: 16px;
  }
  &.submit{
    font-size: 18px;
    border: 1px solid #979797;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    &.signin{
      background-color: #36A44F;
    }
    &.signup{
      background-color: #2D3047;
      &:hover{
        background-color: #373944;
        color: rgba(216, 216, 216,.8);
      }
    }
  }
}
.icon-signin{
  position: relative;
  &.facebook{
    @include size(17px, auto);
    margin-right: 10px;
    left: -20px;
  }
  &.google{
    @include size(20px, 20px);
    margin-right: 10px;
    left: -30px;
  }
}
.signin-label{  // for username/password
  color: rgba(91, 91, 91, .6);
  transition: .2s ease;
  font-size: 18px;
  &.focus{ //signin.js focus
    transition: .2s ease;
    color: #5B5B5B;
  }
}
.link-signup{
  position: absolute;
  color: #979797;
}