<%= render('shared/header',title:"Accounts") %>
<div class="options">
  <%= link_to(' + ',new_account_path,class:'btn btn-dark link') %>
  <%= link_to('All',all_accounts_path,class:'btn btn-dark link') %>
  <%= link_to('Report','#',class:'btn btn-dark link') %>
</div>